@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
}
.App{
  height: 100svh;
}
body{
  height: 100svh;
  overflow: hidden;
}
.homeScreen{ 
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.Link{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
.homeScreenButtonContainer{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 40vh;
  justify-content: center;

}
.button{
  width: 180px;
  height: 2.5rem;
  padding:.5rem;
  /* border-radius: 7px; */
  border-radius: 25px 25px 30px 30px;

  border: none;
  margin: 16px 0;
  box-shadow: -2px 1px 7px 0px gray, inset -1px 2px 12px 0px rgba(128, 128, 128, 0.151);
  background-color: rgb(248, 248, 248);
 
}
.inputForm{
  height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputForm input{
  width: 50%;
}
.orientedList{
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 90%;
  height: 75svh;
  overflow: scroll;
  list-style: none;
  color: rgb(67, 67, 67);
  border-bottom: .5px solid rgb(192, 192, 192);
}
.Backbtn{
align-self: flex-start;
margin: 20px 0 0 20px;
}
.flightListHeading, .flightInfo{
  border-bottom: .5px solid black;
  width: 80%;
  text-align: center;
  margin-bottom: 25px;
  padding: 0 15px 15px 15px;
}
h1{
  font-size: 25px;
  font-weight: normal;
}
.flightList{
  display: flex;
  justify-content: space-between;
  max-width: 98%;
  border-bottom: .5px solid rgb(129, 129, 129);
  padding: 10px 10px;
}
.totalProvisionHeading{
  align-self: flex-end;
  margin: 10px 10% 0 0;
  position: absolute;
  bottom: 40px;
}
.flightHistory{
  position: relative;
  margin-top: 25px;
  width: 100%;
  height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popupContainer{
  width: 100%;
  height: 100svh;
  /* transform: translateY(30%); */
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgba(150, 150, 150, 0.356); */
  backdrop-filter: blur(1.5px);
}
.displayNone{
  display: none;
}
.popup{
  width: 300px;
  /* background: rgb(223, 223, 223); */
  background:linear-gradient(45deg, rgb(96, 159, 211), rgb(36, 88, 136)); 
  border-radius: 20px;
  color: #FFFFFF;
  /* border-top: 40px solid rgb(127, 174, 218); */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  box-shadow: -3px 2px 10px 0px rgb(119, 119, 119)
}
.deleteAlert{
  font-size: 18px;
  padding: 1rem;
  font-weight: lighter;
}
.buttonContainer{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-bottom: 25px;
}
.modulBtn{
  width: 100px;
  height: 2.5rem;
  padding:.5rem;
  font-weight: lighter;
  border-radius: 25px 25px 30px 30px;
  border: none;
  margin: 10px 0;
  box-shadow: -2px 1px 7px 0px gray, inset -1px 2px 12px 0px rgba(128, 128, 128, 0.151);
  background-color: rgb(235, 235, 235);
}
.total-provision{
  margin-top: 25px;
}
.Backbutton{
padding: 4px 8px;
border-radius: 0px 7px 7px 0px;
border: .5px solid black;
}
.inputField{
  padding: 10px;
  font-size: 16px;
  margin-bottom: 5px;
}
.flightName, .provision{
  font-size: 18px;
  font-weight: lighter;
}
.flightName{
  font-weight: bold;
}
.planeIcon{
  display: flex;
  align-items: center;
  justify-content: center;
}
.planeIcon > svg{
  font-size: 25px;
}
button{
  color: black;
}
.inputForm{
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.statisticCard{
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  height: 37svh;
  margin-bottom: 40px;
  border-radius: 25px;
  box-shadow: -3px 2px 10px 0px rgb(119, 119, 119),inset -8px 11px 20px 0px rgb(27, 106, 170);
  background:linear-gradient(45deg, rgb(96, 159, 211), rgb(36, 88, 136)); 
}
.statisticCard div, input{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 25px;
}
.flightNr{
background: transparent;
border: 0;
border-radius: 25px 25px 0 0;
min-width: 100%;
color: white;
text-align: center;
}
.flightNr::placeholder{
  color: rgb(255, 255, 255);
}
.totalEarnings, .flightNr{
  width: 100%;
  height: 25%;
  border-bottom: 1.5px solid rgb(16, 79, 131);
}
.percentValue{
  height: 50%;
  width: 50%;
}
.crewAmount{
  height: 50%;
  width: 50%;
  border-right: 1.5px solid rgb(16, 79, 131);
}
.FormbuttonContainer{
  position: relative;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 5px;
}
.Formbutton{
  width: 55px;
  margin: 10px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px 25px 30px 30px;
  box-shadow: -2px 1px 7px 0px gray, inset -1px 2px 12px 0px rgba(128, 128, 128, 0.151);
  background-color: rgb(248, 248, 248);
}
.delete{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: lighter;
  top: -18%;
  padding-right: 4px;
  right: 25px;
  width: 60px;
  margin: 10px;
  aspect-ratio: 1.5;
  border-radius: 25px 25px 30px 30px;
  box-shadow: -2px 1px 7px 0px gray, inset -1px 2px 12px 0px rgba(128, 128, 128, 0.151);
  background-color: rgb(248, 248, 248);
}
.Formbutton:last-child{
  width: 145px;
  aspect-ratio: 2.7;
}
.hidden{
  visibility: hidden;
}