@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
}
*::-webkit-scrollbar{
  display: none;
}
.App{
  height: 100svh;
}
body{
  height: 100svh;
  overflow: hidden;
}
.homeScreen{ 
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
.Link{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
.homeScreenButtonContainer{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 40vh;
  justify-content: center;

}
.button{
  width: 180px;
  height: 2.5rem;
  padding:.5rem;
  /* border-radius: 7px; */
  border-radius: 25px 25px 30px 30px;

  border: none;
  margin: 16px 0;
  box-shadow: -2px 1px 7px 0px gray, inset -1px 2px 12px 0px rgba(128, 128, 128, 0.151);
  background-color: rgb(248, 248, 248);
 
}
.inputForm{
  height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* .inputForm input{
  width: 50%;
} */
.App::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("./assets/plane.webp") no-repeat center;
    background-size: contain;
    opacity: 0.13; /* Adjust the opacity as needed */
    background-blend-mode: lighten;
    background-position: bottom;
    margin-bottom: 90px;
    z-index: -1;
  
  /* background: url("./assets/plane.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; */

}
.orientedList{
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 90%;
  margin-top: 25px;
  height: 47svh;
  overflow: scroll;
  list-style: none;
  color: rgb(67, 67, 67);
  border-bottom: .5px solid rgb(192, 192, 192);
}
.Backbtn{
align-self: flex-start;
margin: 20px 0 0 20px;
}
.flightListHeading, .flightInfo{
  border-bottom: .5px solid black;
  width: 80%;
  margin-top: 25px;
  text-align: center;
  margin-bottom: 25px;
  padding: 0 15px 15px 15px;
}
h1{
  font-size: 25px;
  font-weight: normal;
}
.flightList{
  display: flex;
  justify-content: space-between;
  max-width: 98%;
  border-bottom: .5px solid rgb(207, 207, 207);
  padding: 10px 10px;
}

.totalProvisionHeading{
  align-self: flex-end;
  position: absolute;
  bottom: 100px;
  right: 30px;
}
.flightHistory{
  position: relative;
  width: 100%;
  height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popupContainer{
  width: 100%;
  height: 100svh;
  /* transform: translateY(30%); */
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgba(150, 150, 150, 0.356); */
  backdrop-filter: blur(1.5px);
}
.displayNone{
  display: none;
}
.popup{
  width: 300px;
  /* background: rgb(223, 223, 223); */
  background:linear-gradient(45deg, rgb(96, 159, 211), rgb(36, 88, 136)); 
  border-radius: 20px;
  color: #FFFFFF;
  /* border-top: 40px solid rgb(127, 174, 218); */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  box-shadow: -3px 2px 10px 0px rgb(119, 119, 119)
}
.deleteAlert{
  font-size: 18px;
  padding: 1rem;
  font-weight: lighter;
}
.buttonContainer{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-bottom: 25px;
}
.modulBtn{
  width: 100px;
  height: 2.5rem;
  padding:.5rem;
  font-weight: lighter;
  border-radius: 25px 25px 30px 30px;
  border: none;
  margin: 10px 0;
  box-shadow: -2px 1px 7px 0px gray, inset -1px 2px 12px 0px rgba(128, 128, 128, 0.151);
  background-color: rgb(235, 235, 235);
}
.total-provision{
  margin-top: 25px;
  margin-left: 15px;
}
.Backbutton{
padding: 4px 8px;
border-radius: 0px 7px 7px 0px;
border: .5px solid black;
}
.inputField{
  padding: 10px;
  font-size: 16px;
  margin-bottom: 5px;
}
.flightName, .provision{
  font-size: 18px;
  font-weight: lighter;
}
/* .provision{
  text-align: left;
} */
.flightName{
  font-weight: bold;
  width: 100px;
}
.planeIcon, .deleteIcon{
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.deleteIcon{
  position: relative;
  /* right: 32px; */
}
.planeIcon, .deleteIcon > svg{
  font-size: 25px;
}
button{
  color: black;
}
.inputForm{
  height: 100svh;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 40px;
}
.statisticCard{
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  height: 37svh;
  margin-bottom: 40px;
  border-radius: 7px;
  box-shadow: -3px 2px 10px 0px rgb(119, 119, 119);
  background: #4472C3; 
}
.statisticCard div, input{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 25px;
}

.flightNr, .totalEarnings{
background: transparent;
border: 0;
min-width: 100%;
color: white;
text-align: center;
border-bottom: 1.5px solid rgb(16, 79, 131);

}
.flightNr{
  border-radius: 7px 7px 0 0;
}

.flightNr::placeholder, .totalEarnings::placeholder, .percentValue::placeholder, .crewAmount::placeholder{
  color: rgb(255, 255, 255);
}
.flightNr:focus, .totalEarnings:focus, .percentValue:focus, .crewAmount:focus{

  outline: .5px solid black;
}
.totalEarnings, .flightNr, .percentValue, .crewAmount{
  width: 100%;
  height: 25%;
}
.percentValue, .crewAmount{
  background: transparent;
  color: white;
  text-align: center;
  border: 0;
}
.percentValue{
  border-radius: 0 0 7px 7px ;
}
.crewAmount{
  border-bottom: 1.5px solid rgb(16, 79, 131);
}

.Formbutton{
  margin: 10px;
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
  justify-content: center;
  border: .5px solid black;
  border-radius: 7px;
  box-shadow: -2px 1px 7px 0px gray, inset -1px 2px 12px 0px rgba(128, 128, 128, 0.151);
  background-color: rgb(248, 248, 248);
}
.delete{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: lighter;
  top: -18%;
  padding-right: 4px;
  right: 25px;
  width: 60px;
  margin: 10px;
  aspect-ratio: 1.5;
  border-radius: 25px 25px 30px 30px;
  box-shadow: -2px 1px 7px 0px gray, inset -1px 2px 12px 0px rgba(128, 128, 128, 0.151);
  background-color: rgb(248, 248, 248);
}
.hidden{
  visibility: hidden;
}
.history-li{
  background-color: #FFFFFF;
}
nav{
  display: flex;
  position: absolute;
  align-items: center;
  bottom: 0;
  left: 0;
  height: 90px;
  width: 100vw;
  background-color: aliceblue;
  border-top: .5px solid rgb(87,87,87);
}
nav ol{
  display: flex;
  width: 100%;
  justify-content: space-around;
  list-style: none;
}
.navIcon > .Link > svg {
  font-size: 30px;
  color: rgb(87, 87, 87);
}
.active > .Link > svg {
  color: #4472C4 !important;
}

.header{
  width: 100vw;
  background-color: #4472C4;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.logout{
  margin-right: 5%;
  font-size: 35px;
}

.header h1{
  margin-left: 25px;
}

.LoginContainer{
  height: 100svh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loginButton{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  position: relative;
  top: 40%;
  background: white;
  color: #444;
  width: 190px;
  height: 50px;
  border-radius: 5px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
  white-space: nowrap;
}
.google{
  font-size: 25px;
}
.loadingContainer{
  position: absolute;
  width: 100svw;
  height: 100svh;
  backdrop-filter: blur(1.5px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #4472C3;
  border-color: #4472C3 transparent #4472C3 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
